<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mkt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mkt"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".splashactivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".cleanshelf"
            android:exported="false" />
        <activity
            android:name=".quickmart"
            android:exported="false" />
        <activity
            android:name=".carrfour"
            android:exported="false" />
        <activity
            android:name=".naivas1"
            android:exported="false" />
        <activity
            android:name=".cities"
            android:exported="false" />
        <activity
            android:name=".login2"
            android:exported="false" />
        <activity
            android:name=".loginactivity"
            android:exported="false" />
        <activity
            android:name=".signactivity"
            android:exported="false" />
    </application>

</manifest>